*{
    margin:0;
    padding:0;

    box-sizing: border-box;
}
.box{
    /* border: 2px solid red; */
    display: grid;
    width: 960px;
    height: 520px;
    padding-top: 100px;
    padding-left: 250px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-self: center;
}
.sedan{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-rows: 20% 15% 40% 25%;
    padding: 35px;
    border-radius: 10px 0 0 10px;
    background-color: hsl(31, 77%, 52%);
}
.suvs{
    /* border: 2px solid pink; */
    display: grid;
    grid-template-rows: 20% 15% 40% 25%;
    padding: 35px;
    background-color: hsl(184, 100%, 22%);
}
.luxury{
    /* border: 2px solid green; */
    display: grid;
    grid-template-rows: 20% 15% 40% 25%;
    padding: 35px;
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}
.logo{
    /* border: 2px solid red; */
    align-content: center;
}
.name{
    /* border: 2px solid red; */
    font-family: "Big Shoulders Display";
    font-size: 32px;
    align-items: center;
    color: hsl(0, 0%, 95%);
}
.content{
    /* border: 2px solid green; */
    color: hsl(0, 0%, 95%);
    font-family: "Lexend Deca";
    font-size: 12px;
    line-height: 2;
}
.button{
    align-self: center;
    text-decoration: none;
    font-family: "Lexend Deca";
    /* justify-self: center; */
}
.suvbtn, .sedbtn, .luxbtn{
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 20px;
    border: 2px solid white; 
    background-color: hsl(0, 0%, 95%);
}
.sedbtn{
    color:hsl(31, 77%, 52%)
}
.suvbtn{
    color: hsl(184, 100%, 22%);
}
.luxbtn{
    color: hsl(179, 100%, 13%)
}
.sedbtn:hover{
    background-color: hsl(31, 77%, 52%);
    color: white;
}
/* for text colour of the buttons to be same as bg, 
make a class of the anchor tags of learn more button and keep the common properties together and put the ext colours separately */
.suvbtn:hover{
    background-color: hsl(184, 100%, 22%) ;
    color: white;
}
.luxbtn:hover{
    background-color: hsl(179, 100%, 13%);
    color: white;
}



/* Responsive Web Design */

@media screen and (max-width:400px){
     .box{
        width: 100%;
        height: 99vh;
        grid-template-columns: 100%;
        padding:10px;
     }  
     .sedan{
        border-radius: 10px 10px 0 0;
     } 
     .luxury{
        border-radius: 0 0 10px 10px;
     }
}
